:root {
  --primary-peak: oklch(0.849 0.3685 145.6);

  --primary-30: oklch(0.97 0.0564 145.6);
  --primary-50: oklch(0.95 0.0974 145.6);
  --primary-100: oklch(0.9 0.2153 145.6);
  --primary-200: oklch(0.8 0.3473 145.6);
  --primary-300: oklch(0.7 0.3039 145.6);
  --primary-400: oklch(0.6 0.2604 145.6);
  --primary-500: oklch(0.5 0.217 145.6);
  --primary-600: oklch(0.4 0.1736 145.6);
  --primary-700: oklch(0.3 0.1302 145.6);
  --primary-800: oklch(0.2 0.0868 145.6);
  --primary-900: oklch(0.1 0.0434 145.6);
  --primary-950: oklch(0.05 0.0217 145.6);
  --primary-970: oklch(0.03 0.0131 145.6);

  --neutral-30: oklch(0.97 0.015 145.6);
  --neutral-50: oklch(0.95 0.015 145.6);
  --neutral-100: oklch(0.9 0.015 145.6);
  --neutral-200: oklch(0.8 0.015 145.6);
  --neutral-300: oklch(0.7 0.015 145.6);
  --neutral-400: oklch(0.6 0.015 145.6);
  --neutral-500: oklch(0.5 0.015 145.6);
  --neutral-600: oklch(0.4 0.015 145.6);
  --neutral-700: oklch(0.3 0.015 145.6);
  --neutral-800: oklch(0.2 0.015 145.6);
  --neutral-900: oklch(0.1 0.015 145.6);
  --neutral-950: oklch(0.05 0.015 145.6);
  --neutral-970: oklch(0.03 0.015 145.6);

  --hotel-white: oklch(0.97 0.015 84);
  --hotel-red: oklch(0.5 0.136 33);
  --kilo-yellow: oklch(0.8 0.1894 83);
  --kilo-blue: oklch(0.3 0.058 258.6);

  --moindi-orange: oklch(0.7426 0.2198 51.16);

  --laphil-blue: #009CDE;

  --rcnm-red-800: #c80000;
  --rcnm-red-700: #d91207;
  --rcnm-red-600: #e92b15;
  --rcnm-red-500: #fc3d21;
  --rcnm-red-400: #ff4e2e;
  --rcnm-red-300: #ff5d3a;
  --rcnm-red-200: #ff6c47;
  --rcnm-blue-800: #001d6a;
  --rcnm-blue-700: #002777;
  --rcnm-blue-600: #003284;
  --rcnm-blue-500: #0b3d91;
  --rcnm-blue-400: #20489e;
  --rcnm-blue-300: #2d54ac;
  --rcnm-blue-200: #3b60ba;
  --rcnm-white-800: #b5b2ac;
  --rcnm-white-700: #c4bfb8;
  --rcnm-white-600: #d2cdc6;
  --rcnm-white-500: #e1dbd3;
  --rcnm-white-400: #eee9e2;
  --rcnm-white-300: #fcf8f0;
  --rcnm-white-200: #fffffc;
  --rcnm-black-800: #000000;
  --rcnm-black-700: #000918;
  --rcnm-black-600: #08101e;
  --rcnm-black-500: #101823;
  --rcnm-black-400: #202b38;
  --rcnm-black-300: #2b3643;
  --rcnm-black-200: #36414f;
}

@theme {
  --color-primary-peak: var(--primary-peak);

  --color-primary-30: var(--primary-30);
  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);
  --color-primary-970: var(--primary-970);

  --color-gray-30: var(--neutral-30);
  --color-gray-50: var(--neutral-50);
  --color-gray-100: var(--neutral-100);
  --color-gray-200: var(--neutral-200);
  --color-gray-300: var(--neutral-300);
  --color-gray-400: var(--neutral-400);
  --color-gray-500: var(--neutral-500);
  --color-gray-600: var(--neutral-600);
  --color-gray-700: var(--neutral-700);
  --color-gray-800: var(--neutral-800);
  --color-gray-900: var(--neutral-900);
  --color-gray-950: var(--neutral-950);
  --color-gray-970: var(--neutral-970);

  --color-moindi-orange: var(--moindi-orange);

  --color-rcnm-red-800: var(--rcnm-red-800);
  --color-rcnm-red-700: var(--rcnm-red-700);
  --color-rcnm-red-600: var(--rcnm-red-600);
  --color-rcnm-red-500: var(--rcnm-red-500);
  --color-rcnm-red-400: var(--rcnm-red-400);
  --color-rcnm-red-300: var(--rcnm-red-300);
  --color-rcnm-red-200: var(--rcnm-red-200);
  --color-rcnm-blue-800: var(--rcnm-blue-800);
  --color-rcnm-blue-700: var(--rcnm-blue-700);
  --color-rcnm-blue-600: var(--rcnm-blue-600);
  --color-rcnm-blue-500: var(--rcnm-blue-500);
  --color-rcnm-blue-400: var(--rcnm-blue-400);
  --color-rcnm-blue-300: var(--rcnm-blue-300);
  --color-rcnm-blue-200: var(--rcnm-blue-200);
  --color-rcnm-white-800: var(--rcnm-white-800);
  --color-rcnm-white-700: var(--rcnm-white-700);
  --color-rcnm-white-600: var(--rcnm-white-600);
  --color-rcnm-white-500: var(--rcnm-white-500);
  --color-rcnm-white-400: var(--rcnm-white-400);
  --color-rcnm-white-300: var(--rcnm-white-300);
  --color-rcnm-white-200: var(--rcnm-white-200);
  --color-rcnm-black-800: var(--rcnm-black-800);
  --color-rcnm-black-700: var(--rcnm-black-700);
  --color-rcnm-black-600: var(--rcnm-black-600);
  --color-rcnm-black-500: var(--rcnm-black-500);
  --color-rcnm-black-400: var(--rcnm-black-400);
  --color-rcnm-black-300: var(--rcnm-black-300);
  --color-rcnm-black-200: var(--rcnm-black-200);

  --color-laphil-blue: var(--laphil-blue);
}
