:root{
 --rcnm-red-800: "#c80000";
 --rcnm-red-700: "#d91207";
 --rcnm-red-600: "#e92b15";
 --rcnm-red-500: "#fc3d21";
 --rcnm-red-400: "#ff4e2e";
 --rcnm-red-300: "#ff5d3a";
 --rcnm-red-200: "#ff6c47";
 --rcnm-blue-800: "#001d6a";
 --rcnm-blue-700: "#002777";
 --rcnm-blue-600: "#003284";
 --rcnm-blue-500: "#0b3d91";
 --rcnm-blue-400: "#20489e";
 --rcnm-blue-300: "#2d54ac";
 --rcnm-blue-200: "#3b60ba";
 --rcnm-white-800: "#b5b2ac";
 --rcnm-white-700: "#c4bfb8";
 --rcnm-white-600: "#d2cdc6";
 --rcnm-white-500: "#e1dbd3";
 --rcnm-white-400: "#eee9e2";
 --rcnm-white-300: "#fcf8f0";
 --rcnm-white-200: "#fffffc";
 --rcnm-black-800: #000000;
 --rcnm-black-700: "#000918";
 --rcnm-black-600: "#08101e";
 --rcnm-black-500: "#101823";
 --rcnm-black-400: "#202b38";
 --rcnm-black-300: "#2b3643";
 --rcnm-black-200: "#36414f";
 }