:root {
  --surface-heavy: var(--neutral-950);
  --surface-base: var(--neutral-700);
  --surface-light: var(--neutral-600);
  --surface-feather: var(--neutral-500);
  --surface-inverted: var(--neutral-100);
  --surface-accent: var(--color-primary-peak);
  --surface-accent-on-inverted: var(--color-primary-400);

  --text-on-base: var(--neutral-100);
  --text-on-inverted: var(--neutral-800);
  --text-on-accent: var(--neutral-800);
  --text-on-accent-on-inverted: var(--neutral-100);

  --line-on-base: var(--neutral-100);
  --line-on-inverted: var(--primary-300);
  --line-on-accent: var(--neutral-100);
  --line-on-accent-inverted: var(--neutral-100);

  --accent-text: var(--color-primary-peak);
  --accent-text-on-inverted: var(--primary-400);

  --space-unit: 12px;
  --nav-height: 3rem;
  
  @media (min-width: 640px) {
    --space-unit: 16px;
  }
  @media (min-width: 768px) {
    --space-unit: 18px;
  }
  @media (min-width: 1024px) {
    --space-unit: 20px;
  }
}

/* semantic colors added to tw classes */
@theme {
  
  /* surfaces */
  --color-surface-base: var(--surface-base);
  --color-surface-inverted: var(--surface-inverted);
  --color-surface-light: var(--surface-light);
  --color-surface-feather: var(--surface-feather);
  --color-surface-heavy: var(--surface-heavy);
  --color-surface-accent: var(--surface-accent);
  --color-surface-accent-on-inverted: var(--surface-accent-on-inverted);

  /* text colors on surfaces */
  --color-on-heavy: var(--text-on-base);
  --color-on-base: var(--text-on-base);
  --color-on-light: var(--text-on-base);
  --color-on-inverted: var(--text-on-inverted);
  --color-on-accent: var(--text-on-accent);
  --color-on-accent-on-inverted: var(--text-on-accent-on-inverted);

  --color-accent: var(--surface-accent);

  --color-accent-text: var(--accent-text);

  --color-line-on-base: var(--line-on-base);
  --color-line-on-inverted: var(--line-on-inverted);
  --color-line-on-accent: var(--line-on-accent);
  --color-line-on-accent-inverted: var(--line-on-accent-inverted);

  --color-accent-on-base: var(--accent-text);
  --color-accent-on-inverted: var(--accent-text-on-inverted);

  --spacing-xs: calc(var(--space-unit) * 0.25);
  --spacing-sm: calc(var(--space-unit) * 0.5);
  --spacing-md: calc(var(--space-unit) * 0.75);
  --spacing-lg: calc(var(--space-unit));
  --spacing-xl: calc(var(--space-unit) * 1.25);
  --spacing-2xl: calc(var(--space-unit) * 1.5);
  --spacing-3xl: calc(var(--space-unit) * 2);

  --spacing-nav: var(--nav-height);
}
